<!DOCTYPE html>
<html lang=fr>
    <head>
        <meta charset="utf-8">
        <title>Hello</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/eleve.css') }}"/>
    </head>
    <body>
        <table>
            <tr>
                <td>nom</td>
                <td>{{ t_eleve['nom'] }}</td>
            </tr>
            <tr>
                <td>prenom</td>
                <td>{{ t_eleve['prenom'] }}</td>
            </tr>
            <tr>
                <td>age</td>
                <td>{{ t_eleve['age'] }}</td>
            </tr>
            <tr>
                <td>notes</td>
                <td>
                    <table>
                        {% for matiere in t_eleve['notes'] %}
                            <tr>
                                <td>{{ matiere }}</td>
                                <td>
                                    {% for note in t_eleve['notes'][matiere] %}
                                        <span class="note">{{note}}</span>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>